!!!
html
  head
    title= title
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet',
    href='/assets/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet',
    href='/wordburglar.css')
  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Word Burglar

    .container
      .row
        .hero-unit
          table#scoreboard
            tbody#players
              tr
                th Player
                th Score
              tr
                td
                  #playerName
                    form.form-inline#nameForm
                      input(name="playerName",
                        placeholder="Your Name",
                        required)
                      button.btn(name="submitName",
                        type="submit") OK
                td
                  p
                    span#score 0

          p Connection:&nbsp;
            span#connection initialising

      .row
        table#grid
          tbody
            each row in grid.rows
              tr
                each letter in row
                  td
                    button.letter
                     code #{letter}

    script(src="/assets/require.js")
    script
      require(['main'], function(main) {
      });