!!!
html
  head
    title= title
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet',
    href='/assets/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet',
    href='/wordburglar.css')
  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Word Burglar

    .container
      .row
        .hero-unit
          form.form-inline#nameForm
            input(name="playerName",
              placeholder="Your Name",
              required)
            button.btn(name="submitName",
              type="submit") OK
          table#scoreboard
            tbody#players
              tr
                th Player
                th Score

          p Connection:&nbsp;
            span#connection initialising

      .row
        table#grid
          tbody
            each row in grid.rows
              tr
                each letter in row
                  td.letter
                    code #{letter}

    script(src="/assets/require.js")
    script
      require(['main'], function(main) {
      });

    if googleAnalytics
      script
        var _gaq=[['_setAccount','UA-1814201-3'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));